{% extends 'base.html' %}
{% block body %}
{% load static %}
<style>
    .ScrollStyle{
              /* max-height: 200px; */
              overflow-y: scroll;
          } 
   .close {
              position: absolute;
              top: 3px;
              right: 8px;
              font-size: 17px;
              transform: rotate(0deg);
              color: rgb(255, 255, 255);
              cursor: pointer;
              text-decoration: none;
          }
    .form-popup {
      display: none;
              position: fixed;
              top: 150px;
              right: 15px;
              border: 1px solid #f1f1f1;
              z-index: 9;
              width: 300px;
              height: 550px;
      }
    
      .content a:hover { background-color: rgb(238, 167, 75);}
      
      /* Add styles to the form container */
      .form-container {
        max-width: 50px;
              height: 500px;
              padding: 10px;
      }
      .form-container1 {
        max-width: 350px;
              height: 600px;
              padding: 2px; 
       
      }
     option{
         margin-left: 10px;
         color: black;
     }
     .scrollbar {
        margin-left: 20px;
        float: left;
        height: 300px;
        width: 270px;
        background: rgb(216, 232, 238);
        overflow-y: scroll;
        margin-bottom: 25px;
      }
      
      
      .scrollbar-primary::-webkit-scrollbar {
        overflow-y: scroll;
        
      }
      
      .scrollbar-primary::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 4px rgba(214, 57, 9, 0.1);
        background-color: #dd9078;
      }
      
      .scrollbar-primary {
        scrollbar-color: #86d5f5 #f1f3f3;
      }
      .btns_prnt{
        width: 100%;
              cursor:pointer;
              background-color: rgba(240, 248, 255, 0);
              color: white;
              border: none;
    }
    .btns_prnt:hover{
      background-color:#5bc9e4;
              color: rgb(15, 14, 14);
    }
    .bt{
              text-align: end;
          }
    </style>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>


    function showgrp(){
        document.getElementById('myForm1').style.visibility= "visible";
        document.getElementById("myForm1").style.display = "block";
    }
    function showgrp1(){
        document.getElementById('myForm1').style.visibility= "visible";
        document.getElementById("myForm2").style.display = "block";
    }
  
    function setData(gr){
          document.getElementById('under').value= gr;
          document.getElementById('rndlmt20').style.display = "none";
          document.getElementById('myForm1').style.visibility= "hidden";
          }
          
      
          
          function setData1(gr){
          document.getElementById('under1').value= gr;
          document.getElementById('rndlmt20').style.display = "none";
          document.getElementById('myForm2').style.visibility= "hidden";
          }
          
          function setGroup(under,underId){
              document.getElementById('under').value= under;
              document.getElementById('myForm1').style.visibility= "hidden";
              document.getElementsByName('underhidden').value= underId;
          }
          function setGroup1(under,underId){
              document.getElementById('under1').value= under;
              document.getElementById('myForm2').style.visibility= "hidden";
              document.getElementsByName('underhidden').value= underId;
          }
          function closeForm() {
          document.getElementById("myForm1").style.display = "none";
          }
          function closeForm1() {
          document.getElementById("myForm2").style.display = "none";
          }
  </script>
<form action=" {% url 'vouchers_sales' %}" method="POST" class="post-form">
  {% csrf_token %}
  <div class="page-content">
    <div class="card radius-15">
      <div class="card-body">
        
      </div>
    </div>
    <div class="card radius-15">
        <div class="card-body">
          <div class="row mt-4">
            <div class="col-md-3"><h5 style="text-align: center; background-color: #2f516f; border-radius: 4px;">Sales  </h5></div> &nbsp; &nbsp; &nbsp;<div> <h5>No:</h5></div> 
        <div class="col-md-4"></div>
        <div class="col-md-4"><h5 style="text-align: right;">1 april 2022 <br>friday </h5></div>
      </div> 
            <div class="row mt-4">
                <div class="table-responsive">
            
                  
                    <h5>Party A/c Name:</h5><input type="text" name='particulars' class="form-control" id="under" onclick="showgrp();"></b><br>
                  Current balance: <br>
                  <b>Sales ledger:</h5><input type="text" name='particulars' class="form-control" id="under1" onclick="showgrp1();"></b>  <br>
                  Current balance: <br>
                    <table class="table table-bordered table-hover" id="tab_logic">
                      <thead>
                        <tr>
                            <th class="text-center">Name of item</th>
                          <th class="text-center">Quantity</th>
                          
                          <th class="text-center">Rate per</th>
                          <th class="text-center">Amount</th>

  
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          
                            <td>
                              <select name='particulars' class="form-control">
                                {% for led in led %}
                              
                                <option value="{{led.id}} ">
                                  <li>{{led.name}}</li>
                                  {% endfor %}
                                </option>
                            
                                <option> <li> <a href= ""> Create </a></li></option>
                                
            
                              </select>
                              </td>
                          
                          
                          <td><input type="number" name='amount' id="amount1" oninput="add_numbernew()" placeholder='0.00' class="form-control" /></td>
                          <td><input type="number" name='amount' id="amount2" oninput="add_numbernew()" placeholder='0.00' class="form-control" /></td>
                          <td><input type="number" name='amount' id="amount3" oninput="add()" placeholder='0.00' class="form-control" /></td></tr>
                          <script>
                            var text1 = document.getElementById("amount1");
                            var text2 = document.getElementById("amount2");
                            function add_number() {
                              var first_number = parseFloat(text1.value);
                              if (isNaN(first_number)) first_number = 0;
                               var second_number = parseFloat(text2.value);
                              if (isNaN(second_number)) second_number = 0;
                              var result1 = first_number * second_number;
                              document.getElementById("amount3").value = result1;
                            }
                            </script>
                          <tr>
                          
                            <td>
                              <select name='particulars' class="form-control">
                                {% for led in led %}
                              
                                <option value="{{led.id}} ">
                                  <li>{{led.name}}</li>
                                  {% endfor %}
                                </option>
                            
                                <option> <li> <a href= ""> Create </a></li></option>
                                
            
                              </select>
                              </td>
                          
                          
                          <td><input type="number" name='amount' id="amount4"  oninput="add_numbernew()" placeholder='0.00' class="form-control" /></td>
                          <td><input type="number" name='amount' id="amount5"  oninput="add_numbernew()" placeholder='0.00' class="form-control" /></td>
                          <td><input type="number" name='amount' id="amount6"  oninput="add()" placeholder='0.00' class="form-control" /></td></tr>
                          </tbody></table>
                          <script>
                            var text1 = document.getElementById("amount1");
                            var text2 = document.getElementById("amount2");
                            var text4 = document.getElementById("amount4");
                            var text5 = document.getElementById("amount5");
                            function add_numbernew() {
                            var first_number = parseFloat(text4.value);
                            if (isNaN(first_number)) first_number = 0;
                            var second_number = parseFloat(text5.value);
                            if (isNaN(second_number)) second_number = 0;
                            var result = first_number * second_number;
                            document.getElementById("amount6").value = result;
                            var first_number1 = parseFloat(text1.value);
                            if (isNaN(first_number1)) first_number1 = 0;
                            var second_number2 = parseFloat(text2.value);
                            if (isNaN(second_number2)) second_number2 = 0;
                            var result1 = first_number1 * second_number2;
                            document.getElementById("amount3").value = result1;
                            var result3=result1+result
                            document.getElementById("amount9").value = result3;

                             
                            }
//                           </script>
                          <div class="row clearfix" style="margin-top:20px">
                            <div class="col-md-7"></div>
                            
                          </div>
                          <script>
                            var text9 = document.getElementById("amount3");
                            var text8 = document.getElementById("amount6");
                            function add() {
                              var first_number = parseFloat(text9.value);
                              
                               var second_number = parseFloat(text8.value);
                              
                              var result2 = first_number + second_number;
                              document.getElementById("amount9").value = result2;
                            }
                           
                          </script>
                          <div class="row mt-4">
                            <div class="col-md-9">
                              
                            NARRATION: 
                            </div>
                            
                            <div class="col-md-3">
                            <input type="text" class="form-control" id="amount9" name="narration" style="align-right" width="50%"></div><br><br><br><br>
                              
                            <!--<div class="col-md-2">
                             
                            </div>-->
                          </div>
                          <!--<div class="row mt-3">
                            <div class="col-md-12">
                              <div class="notices">
                                <div class="form-control">--><input class="btn btn-outline-info w-30 rounded-pill text-light" style="text-align: left;" type="button" onclick="newFunction()" value="Delete"><button type="submit" style="float: right;" class="btn btn-outline-info w-45 rounded-pill text-light">
                                  Save
                                </button><!--</div>--><br>
                                <div class="notice text-muted">
                                  Tally Prime Terms and Conditions Apply
                                </div>
                              </div>
                            <!--</div>-->
                            <!--<div class="col-md-2"></div>
                          </div>-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <script>
                function newFunction() {
            document.getElementById("newform").reset();
         }
              </script>


<div class="form-popup ScrollStyle" id="myForm1" style="background-color:  #213b52; color:white;" >
    <form action="" class="form-container1" >

      <h6 style="background-color:rgb(17, 169, 240) ;color:white">List of Ledgers Account</h6>
        <button type="button" class="btn cancel close" onclick="closeForm()">X</button>
        <a  href="" style="margin-left:180px; cursor:pointer; color: white" >Create New</a>  

    <hr >
    <div >
        <table >
        <tr >
            
                                <option onclick="setData('Cash')" class="btns_prnt" >Cash</option>
                                
                                



        {% for i in led %}
       
    
        <a class="btns_prnt" onclick="setGroup('{{i.name}}','{{i.id}}')"  class="content" 
        style="cursor:pointer;color:white">&nbsp;&nbsp;{{i.name}}</a><br>
        {% endfor %}
        </tr>
        </table>
    </div>
    <input type="text" name="underhidden" hidden value="{{i.id}}">
    </form>
</div>


<div class="col-sm-3  m-0 p-0"></div>

<div class="form-popup ScrollStyle" id="myForm2" style="background-color:  #213b52; color:white;" >
  <form action="" class="form-container1" >

    <h6 style="background-color:rgb(17, 169, 240) ;color:white">List of Ledgers Account</h6>
      <button type="button" class="btn cancel close" onclick="closeForm1()">X</button>
      <a  href="" style="margin-left:180px; cursor:pointer; color: white" >Create New</a>  

  <hr >
  <div >
      <table >
      <tr >
          
                              <option onclick="setData1('Cash')" class="btns_prnt" >Cash</option>
                              
                              



      {% for i in led %}
     
  
      <a class="btns_prnt" onclick="setGroup1('{{i.name}}','{{i.id}}')"  class="content" 
      style="cursor:pointer;color:black;">&nbsp;&nbsp;{{i.name}}</a><br>
      {% endfor %}
      </tr>
      </table>
  </div>
  <input type="text" name="underhidden" hidden value="{{i.id}}">
  </form>
</div>
<div class="col-sm-3  m-0 p-0"></div>

</div> 
{% endblock %}